<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <img src="{{c.img.url}}" height="450px" width="100%">
</div>
<div class="container-fluid mt-4" style="margin-bottom:50px;">
    <h3 class="text-center"> {{c.name}}</h3>
    <p style="line-height:1.8;text-align:justify;">{{c.desc}}</p>
</div>
<div class="row">
    {% for i in p %}

<div class="col-md-4">
            <div class="card" style="width: 18rem;margin-bottom:100px;">
                <img src="{{i.img.url}}" height="150px" width="110%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{i.name}}</h5>
                    <p class="card-text">{{i.desc}}</p>
                    <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary">DETAILS</a>
                </div>
            </div>
     </div>

     {% endfor %}

</div>

{% endblock %}

